body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.box{
    fill:rgba(228, 232, 241, 0.647);
    stroke:black;
    stroke-width:5;
    opacity:0.8;
}

.box:hover {
    fill:white;
}


text{
    font-size:18px;
    cursor: pointer;
    fill:black;
    font-weight: bolder;
    background: transparent;
    
}

text:hover {
    stroke: black;
    stroke-width:2;
    transition: 0.5s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

#myVideo {
    position: absolute;
    top:0;
    left:0;
    width:auto;
    height:auto;
    z-index:-1; /* Ensure the video is behind other elements */
}